body {
  margin: 0;
  padding: 0;
  background: #ececec;/* Color de fondo general de la página */
  font-family: sans-serif;
  height: 100%; 
  
}
* {
  box-sizing: border-box;
  /* Hace que padding y border se incluyan dentro del ancho/alto total del elemento */
}

/* === HEADER === */
.header {
  height: 60px;
  width: 100%;
  display: flex;      /* coloca logo y menú en fila */
  justify-content: space-between;   /* logo a la izquierda de la pagina, menú a la derecha */
  align-items: center;   /* centra verticalmente */
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);   /* sombra suave abajo */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;  /* se mantiene encima del resto, CUANDO se hace scroll las tarjetas pasan por debajo del header */
}

.menu-btn {
  cursor: pointer;
  color: #c9942d;
  font-size: 28px;
  padding: 4px;
}

.header .brand {
  display: flex;
  align-items: center;
  gap: 10px;  /* espacio entre logo y texto */
}

.header .brand h1 {
  font-size: 20px;
  font-weight: bold;
  color: #222;
}

/* Responsive: en pantallas pequeñas el texto baja debajo del logo */
@media (max-width: 480px) {
  .header .brand {
    flex-direction: column;   /* logo arriba, texto abajo */
    align-items: flex-start;  /* alineado a la izquierda */
    gap: 4px;
  }

  .header .brand h1 {
    font-size: 16px;  /* un poco más pequeño para móviles */
  }
}

.header .brand img {
  width: 40px;
  height: 40px;
}

/* === SIDEBAR === */
.sidebar {
  position: fixed;
  top: 0;
  left: -260px;  /* oculta el menú al inicio */
  width: 260px;
  height: 100%;
  background: #d4a017;
  color: white;
  padding: 20px;
  transition: 0.3s; /* animación al abrir/cerrar */
  z-index: 2000;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sidebar.active {
  box-shadow: 6px 0 25px rgba(0,0,0,0.35); /* sombra al abrir */
  left: 0;    /* despliega el menú */
}

.sidebar h3 {
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid rgba(239, 235, 235, 0.397);
  padding-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  flex-grow: 1;   /* ocupa el resto de la columna */
}

.sidebar ul li {
  padding: 10px 25px;
  font-size: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  font-weight: 500;
  cursor: pointer;
}

.sidebar ul li:hover {
  background: rgba(255,255,255,0.2);
}

.page {
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 71vh;
  margin-top: 90px;
  flex: 1; /* ocupa el espacio disponible */
  padding: 0px;
}

/* === CONTENIDO === */
main {
  margin: 0px 30px;               
  flex: 1;             
}

.titulo  {
  width: 250px;
  margin: 0px 60px;
  border-radius: 12px ;
  background-color: #cd9930;
  padding: 3px 20px;
  font-family: 'Segoe UI';
  text-align: left;
  font-size: 20px;
}

/* === FEED === */
.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  /* tarjetas responsive */
  gap: 20px;
}

/* Ajuste responsive */
@media (max-width: 1024px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .articles {
    grid-template-columns: 1fr;
  }
}

.card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.35);
  position: relative; /* Eso hace que el icono basurita que tiene "position: absolute" usen la card como referencia al estar dentro de ella, en lugar de usar toda la página. */
  margin-top: 40px;
}

.preview .card {
  margin: 0 40px ;
  background: #fff; /* fondo blanco */
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25); /* sombra suave */
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;  /* recorta la imagen sin deformarla */
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.preview h2 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

.preview .card .info {
  font-size: 45px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.preview .card .info h3 {
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 6px;
}

.preview .card .info p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.card .info {
  padding: 1px 22px;
}

.card .info h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 0px;
}

.card .info p {
  font-size: 14px;
  color: #555;
  margin-top: 2px;
}

.categoria {
  display: inline-block;
  margin-top: 8px;
  padding: 5px 10px;
  background: #d29d2b;
  color: white;
  border-radius: 6px;
  font-size: 12px;
}

/* === FORMULARIO === */
.form-page {   
  flex: 1;      
  display: flex; 
  justify-content: center; 
  align-items: normal;   
  background: #eee;  
  padding: 20px;       
  box-sizing: border-box;
}
.formulario{
  margin-top: 30px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  background: #e4e1e1;
  border-radius: 20px;
  padding: 20px;
}

.formInput::placeholder {
  font-style: italic;
  font-family:'Segoe UI';
  color: #999;
}

.formInput {
  font-family: sans-serif;
  padding: 12px;
  border: 1px solid #e4e3e3;
  border-radius: 10px;
  font-size: 13px;
  color: #616161;
}

.formInput:focus{
  outline: none;   
  transition: 0,1s;
  border-color: #c9c7c7;
}

.formulario h2 {
  margin: 0 0 20px 0;
  margin: 0 auto;
}

.guardar {
  width: 100%;
  background: #cd9930;
  margin-top: 10px ;
  color: white;
  padding: 12px 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.guardar:hover {
  background: #be8d2c;
}

.preview {
  padding: 0px 0px;
  max-width: 500px;
  text-align: center;
  margin:  auto;
}

/* === Estilos para la card de vista previa ==== */
.preview .card img {
  width: 100%;
  height: 260px; /* tamaño más grande de tarjeta para vista previa */
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.contenedorBtnPreview{
  width: 420px;
  display: flex;       /* los botones estarán uno al lado del otro */
  justify-content: center;
  gap: 28px;           /* espacio entre ellos */
  align-items: center;
  margin: 20px 40px;
  margin-bottom: 15px;
  background: #c6cbd3 ;
  padding: 8px;
  border-radius: 10px;
}

.prevConfirm{
  background-color: #2ecc71;
}

.prevBack{  
  background: #4b586b;
}

.prevBorrar{
  background: #ed2e2a;
}

.botonesPreview{
  font-weight: bold;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 15px;
  padding: 9px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* === FOOTER === */
footer { 
  margin-top: 37px;
  width: 100%;
  background: #d1942b;
  padding: 20px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 -2px 6px rgba(0, 0, 1, 0.1); /* sombra hacia arriba */
}

/* Estilos de el aviso de exito al guardar articulo */
.toast {
  position: fixed;
  top: 8%;
  left: 35%;
  background: #2ecc71; /* verde suave */
  color: white;
  padding: 22px 30px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  opacity: 1;
  animation: fadeInOut 3s ease forwards;
  z-index: 9999;  /*  Esto asegura que se vea arriba */
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(-20px); }
}

 /* Este es el aviso de que se borro el articulo */
.alert.success {
  z-index: 9999;
  position: fixed;
  top: 8%;
  left: 45%;
  background-color: #ee3f3f; 
  color:  #f6f6f6;       
  animation: fadeInOut 3s ease forwards;
  padding: 12px 20px;
  border-radius: 8px;
  margin: 15px auto;
  width: fit-content;
  text-align: center;
  font-weight: bold;
  transition: opacity 0.4s ease-out;
  /* "position: fixed; top: 40%; left: 30%;" Estos 3 ultimos me acomodan el mensaje donde yo quiera cambiando el porcentaje */
}

/* Estilos para la basurita de cada card */
.delete-icon {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: #ccc; /* gris claro */
  cursor: pointer;
  font-size: 18px;
  transition: color 0.2s ease;
}

.delete-icon:hover {
  color: #888; /* un poco más fuerte al pasar el mouse */
}

/* === VISA DETALLE  === */
.detail {
  padding: 30px;       
  display: flex;
  justify-content: center;  
  background: linear-gradient(180deg, #f6f7f8 0%, #ececec 100%);
}

.detail-card {
  width: 950px;             /* un poco más compacta */
  max-width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 12px 30px rgba(12, 20, 31, 0.12);
  overflow: hidden;
  max-height: 500px;        /* limita el alto */
}

.detail-left {
  background: #f8f8f9; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
}

.detail-image {
  width: 100%;
  height: 100%;
  max-height: 520px;
}

.detail-right {
  padding: 28px;
  display: flex;
  flex-direction: column;
}

.detail-title {
  margin-top: 25px;
  font-size: 28px;
  color: #1f2937;
}

.detail-meta { 
  display:flex; 
  gap:12px; 
  align-items:center; 
  margin-top:5px; 
}

.price {
  background: rgba(201,149,37,0.08);
  color: #b3811d;
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: 700;
}

.type {
  background: #f3f4f6;
  color: #4b5563;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 13px;
}

.detail-desc {
  color: #374151;
  margin-top: 50px;
  line-height: 1.45;
}

.detail-info-grid {
  display: flex;
  gap: 20px;
  margin-top: 65px;
  margin-bottom: 30px;
  color: #6b7280;
}

.detail-actions {
  margin-top: auto;
  display: flex;
  gap: 30px;
}

/* Buttons */
.btn { 
  padding: 10px 14px; 
  border-radius: 10px; 
  border: none;
  cursor: pointer; 
  font-weight: bold; 
  font-size: 15px;
}

.btn.primary { 
  background: #c9942d; 
  color: white; 
  box-shadow: 0 6px 18px rgba(201,149,37,0.18); 
}

.btn.secondary { 
  background: #60826c; 
  color:#111827; 
}

.btn.outline { 
  background: transparent; 
  border:1px solid #d6d6d6; 
  color:#111827; 
}

/* Responsivo */
@media (max-width: 880px) {
  .detail-card { grid-template-columns: 1fr; }
  .detail-left { order: 1; }
  .detail-right { order: 2; }
}
